
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Commissioner:wght@100..900&family=Quicksand:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


form{

  max-width: 50vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;

}
body{
  font-family: 'Work Sans', sans-serif;
  color: #333;
  margin: 0 auto;
 
 
 
}

main{
  display: grid;
  grid-template-columns: 33vw 1fr;
  background-color: #f9fafb;
}

#left-hero{
  width: 100%;
  height: 100vh;
  background-image: url("marcreation-fV_qtB_sTV8-unsplash.jpg");
  background-size: cover;
}

#actual-form{
  margin: auto;
}
.logo{
  font: 2em 'Space Mono';
  color: white;
  background-color: #11111184;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 100px 0 auto;
  justify-content: center;

align-items: center;
}

.icon {
  max-width: 100px;
}
#intro{
  font-weight: 600;
  font-size:large;
  max-width: 80%;
}
#intro > p, 
#caption{
  padding-left: 22px;
}

#form-box{
  background-color: white;
  border-bottom: solid 1px #e6e6e6;
  box-shadow: 0 8px 9px -6px #cdcdcd;
padding: 20px;
}



label{
  display:inline-block;
  text-transform: uppercase;
  font-size: small;
  font-weight: 600;
  color: #111;
  letter-spacing: 2px;
  padding-bottom: 10px;
}



input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea,
fieldset {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  box-sizing: border-box;
  border-radius: 4px;

}

input:invalid {
box-shadow: 0 0 2px 1px red;
}
input:focus{
  box-shadow: 0 0 10px 10px #7cb4e433;
}
input:focus:invalid{
  box-shadow: none;
}
input:valid {
  border: 1px solid #aeaeae;
}

input:invalid:required {
  background-image: linear-gradient(to right, rgb(238, 192, 255, 0.2), rgb(152, 203, 255, 0.2));
}




button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 1.5em auto;
  padding: 1em 2em;
  border-radius: 4px;
}
button {  
  color: white;
  transition: 0.25s;
  
  &:hover,
  &:focus { 
    border-color: #33998f;
    color: #fff;
  }
}
.pulse {
  background-color: #14425a;
}
.pulse:hover, 
.pulse:focus {
  
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 #96f374; }
}